@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800;900&display=swap");


* {
  border: none;
  padding: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}